html {
    font-family: sans-serif;
}

#canvas {
    position: relative;
    width: 2560px;
    height: 1440px;
    margin: 20px auto;
    background-color: transparent;
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

.mockup, .device {
    position: absolute;
    object-fit: contain;
    transform: translate(-50%, -50%);
    height: auto;
}

/*!** Dev only *!*/
/*.mockup {*/
/*    box-sizing: border-box;*/
/*    border: 1px solid dodgerblue ;*/
/*}*/

/*!** Dev only *!*/
/*.layer {*/
/*    box-sizing: border-box;*/
/*    border: 1px solid fuchsia;*/
/*}*/

/*!** Dev only *!*/
/*.device*/
/*{*/
/*    box-sizing: border-box;*/
/*    border: 2px solid gold;*/
/*}*/

/*
 * Mockup PC
 * Default position
 */
.mockup-pc {
    top: 43%;
    left: 43%;
    width: 85%;
}

/**
 * Image PC
 * Default position
 */
.pc {
    top: 38%;
    left: 42.95%;
    width: 63%;
}

/**
 * Mockup tablet
 * Default position
 */
.mockup-tablet {
    top: 58%;
    left: 80%;
    width: 28%;
    height: auto;
    z-index: 2;
}

/* Image Tablet */
.tablet {
    top: 57.95%;
    left: 80%;
    width: 22.7%;
    z-index: 2;
}

/* Mockup Mobile */
.mockup-phone {
    top: 74%;
    left: 93%;
    width: 13%;
    z-index: 6;
}

/* Image Mobile */
.phone {
    top: 74%;
    left: 93%;
    width: 11%;
    z-index: 7;
}


.device {
    box-sizing: border-box;
    object-position: top left;
}

.watermark-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 10;
}

.watermark-layer .watermark-image {
    max-height: 70%;
    max-width: 70%;
    height: 70%;
    object-fit: contain;
    mix-blend-mode: multiply;
}

.field {
    margin: 0 auto;
    display: flex;
    width: 350px;
    justify-content: space-between;
    align-items: center;
}

.field label {
    font-weight: bold;
}


input[type="file"] {
    display: block;
    margin: 20px auto;
}

button {
    display: block;
    margin: 20px auto;
}

#screenshot {
    display: block;
    margin: 20px auto;
    max-width: 100%;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 16px;
    align-items: flex-start;
    background-color: rgba(204, 204, 204, 0.6);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(0, 0, 0, 0.2);
    z-index: 99999999999;
    padding: 2rem 0;
}

.only-phone {
    transform: translate(-8%, 950px);
}

/**
 * Change these classes for position the group of elements mockup + image
 */
.pc-layer {

}

.tablet-layer {

}

.phone-layer {

}

